<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullstack</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top: 20vh;">
            <div class="col-lg-6 d-flex justify-content-center  float-end">
                <img src="img/imgCodingNew.png" alt="" style="width: 500px;">
            </div>
            <div class="col-lg-6  col-sm-12 float-start">
                <div class="row">
                    <div class="col">
                        <h1>Trở thành lập trình viên Full-Stack trong 6 tháng</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Nền tảng học trực tuyến cùng Mentor hướng dẫn cho từng học viên với giáo trình thực chiến giúp bạn
                            bắt đầu sự nghiệp
                            trong ngành Lập Trình với mức lương khởi điểm 12,000,000 đồng
                        </p>
                    </div>
                </div>          
                <div class="row " style="margin-top: 100px;">
                    <div class="col-lg-4 col-sm-12 mb-sm-5 ">
                        <button class="btn btn-primary text-white p-lg-3">Kiểm tra độ phù hợp</button>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <button class="btn btn-outline-primary p-lg-3">Tải giáo trình</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2 class="text-primary text-center">Chương trình học</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h1>Những kỹ năng bạn sẽ được trang bị</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <p class="text-center fs-4">Sau khi hoàn thành khóa học, bạn sẽ có thể tự mình xây dựng một website hoàn
                    chỉnh như Amazon hay Facebook, bao gồm cả phần việc của Front-end và Back-end. Bạn sẽ được học cách
                    lập trình bằng JavaScript, một ngôn ngữ lập trình được ứng dụng phổ biến trên thế giới.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="row">
                    <div class="card border-0" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">Chương 1: Cơ bản về lập trình</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Nội dung:</h6>
                            <p class="card-text">HTML-JavaScript-CSS-ES6</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Thực hành:</h6>
                            <p class="card-text">Google Landing Page, Todo List, Calculator, International Holidays
                                Calendar</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card border-0" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">Chương 2: Front End React</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Nội dung:</h6>
                            <p class="card-text">Components - Props - State -React Router - Redux - Material - UI</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Thực hành:</h6>
                            <p class="card-text">Tic Tac Toe, Weather, Book Store, Music Player, Movie Reviews</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card border-0" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">Chương 3: Back End NodeJS/Express</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Nội dung:</h6>
                            <p class="card-text">NodeJS - ExpressJS - JWT - MongoDB</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Thực hành:</h6>
                            <p class="card-text">CSV Dataset Generator, Pokemon API, CoderBook</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1>{{titleAddCus}}</h1>
                <form class="form" ng-submit="AddCustomer()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" ng-model="inputCustomer.name">
                        <p class="text-danger" ng-if="notificationTest.name">Vui lòng nhập lại họ tên</p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Chứng minh thư</label>
                        <input type="text" class="form-control" ng-model="inputCustomer.cccd">
                        <p class="text-danger" ng-if="notificationTest.cccd">Vui lòng nhập lại cccd</p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Email</label>
                        <input type="text" class="form-control" ng-model="inputCustomer.email">
                        <p class="text-danger" ng-if="notificationTest.email">Vui lòng nhập lại email</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block">Giới tính</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" ng-model="inputCustomer.gender" value=0>
                            <label class="form-check-label" for="maleRadio">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" ng-model="inputCustomer.gender" value=1>
                            <label class="form-check-label" for="femaleRadio">Nữ</label>
                        </div>
                        <p class="text-danger" ng-if="notificationTest.gender">Vui lòng chọn giới tính</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" ng-model="inputCustomer.phoneNumber">
                        <p class="text-danger" ng-if="notificationTest.phoneNumber">Vui lòng nhập lại số điện thoại</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Chọn khóa học</label>
                        <select class="form-select" aria-label="Default select example" ng-model="inputCustomer.course">
                            <option value="Fullstack" selected>Fullstack</option>
                            <option value="Data Science">Data Sicence</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <p class="text-danger" ng-if="notificationTest.course">Vui lòng chọn khóa học</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ngày sinh</label>
                        <input type="date" class="form-control" ng-model="inputCustomer.date">
                        <p class="text-danger" ng-if="notificationTest.date">Vui lòng nhập lại ngày sinh</p>
                    </div>

                    <!-- <div class="mb-3">
                        <label class="form-label">Hình thức thanh toán</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div> -->

                    <button type="submit" class="btn btn-primary pt-2 px-5">Submit</button>
                </form>
            </div>
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- link thư viện angularJs -->
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <!-- link thư viện angularJs Route | bắt buộc phải để bên dưới thư viện angularJS -->
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
</body>

</html>